<div class="center-text-with-margin">
    <div class="white-color">
        <h1>About Us</h1>
        <h2>About page subtitle</h2>
        <h4>Working on a X.com clone...<strong>Welcome to Y.com!</strong></h4>
    </div>
</div>