<div style="text-align: center; margin-top: 25px;">
    <h1>Y.com</h1>
    <h2>Soon an X clone</h2>
</div>

<div class="container text-center" style="margin-top: 25px;">
  <div class="row align-items-start">
    <div class="col">
      Post column
    </div>
    <div class="col">
      For you page column
    </div>
    <div class="col">
      Search and trends column
    </div>
  </div>
</div>