<div class="center-text-with-margin">
    <div class="white-color">
        <h1>Y.com</h1>
        <h2>Soon an X clone</h2>
    </div>
</div>

<div class="white-color">
    <div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
        Post column
        </div>
        <div class="col">
        For you page column
        </div>
        <div class="col">
        Search and trends column
        </div>
    </div>
    </div>
</div>