<div style="font-size: 13px">
    <footer style="text-align: center; margin-top: auto;">
        <p style="margin-bottom: 0px">Y.com <a style="color: #021e00;" href="https://github.com/FrancoPalavicinoG">©FrancoPalvicinoG</a></p>
        <p style="margin-bottom: 0px">All Rights Reserved, All Wrongs Reversed</p>
        <p> 
            <a style="color: #021e00;" href="about">About Us</a>
            <a style="color: #021e00;" href="contact">Contact Us</a>
            <a style="color: #021e00;" href="#">X</a>
            <a style="color: #021e00;" href="#">Instagram</a>
            <a style="color: #021e00;" href="#">Facebook</a>
        </p>
    </footer>
</div>
