<div class="text-size">
    <footer class="footer-centered">
        <div class="white-color">
            <p class="paragraph-no-margin">Y.com <a class="white-color" href="https://github.com/FrancoPalavicinoG">©FrancoPalavicinoG</a></p>
            <p class="paragraph-no-margin">All Rights Reserved, All Wrongs Reversed</p>
            <p> 
                <a class="white-color" href="about">About Us</a>
                <a class="white-color" href="contact">Contact Us</a>
                <a class="white-color" href="#">X</a>
                <a class="white-color" href="#">Instagram</a>
                <a class="white-color" href="#">Facebook</a>
            </p>
        </div>
    </footer>
</div>

